
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f28b20;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 2rem;
  background-image: url('/static/main/snack.jpg'); /* if you have an image */
  background-size: cover;
  color: #333;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
}





.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.menu-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  margin: 0.3rem 0;
}

.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.messages {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.messages li {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.cart-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 0.3rem;
}

