{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Snack Bar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    
</head>
<body>
    <nav>
        <h1>Snack Bar</h1>

    </nav>

    <main>
        {% block content %}
        <h2>Add New Product</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Add</button>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
        {% endblock %}

    </main>

   
</body>
</html>


