{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Snack Bar{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    
     <!-- Bootstrap CSS -->
     
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">

    <!-- Bootstrap Icons -->
    
</head>
<body>
    <nav>
        <h1>Snack Bar</h1>
        <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'menu' %}">Menu</a></li>
           <li><a href="{% url 'view_cart' %}">Cart<span class="cart-badge">{{ cart_count }}</span></a></li>
        </ul>

    </nav>

    <main>
        {% block content %}
        <!-- page specific content here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Snack Bar. All rights reserved.</p>
    </footer>
</body>
</html>

