{% extends 'main/base.html' %}

{% block content %}
  <h2>Checkout</h2>

  <form method="post">
    {% csrf_token %}
    <label for="customer_name">Customer Name:</label>
    <input type="text" name="customer_name" id="customer_name" required>

    <h3>Order Summary</h3>
    <ul>
        {% for id, item in cart.items %}
        <li>{{ item.name }} x {{ item.quantity }} = GHS {{ item.price|floatformat:2 }}</li>
        {% endfor %}
    </ul>

    <p><strong>Total:</strong> GHS {{ total|floatformat:2 }}</p>

    <button type="submit">Place Order</button>
  </form>
{% endblock %}

