{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Snack Bar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <nav>
        <h1>Snack Bar</h1>
        
    </nav>

    <main>
        {% block content %}
        <h2>Restock Product: {{ item.name }}</h2>
        <p>Current Quantity: {{ item.quantity }}</p>
        <form method="post">
            {% csrf_token %}
            <label for="amount">Add Quantity:</label>
            <input type="number" name="amount" min="1" required>
            <button type="submit" class="btn btn-warning">Restock</button>
            <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
        {% endblock %}

    </main>

    
</body>
</html>

