{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Snack Bar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <nav>
        <h1>Snack Bar</h1>

    </nav>

    <main>
       
        <h1>All Users</h1>


    <div style="margin-bottom: 3rem;">
        
         <a href="{% url 'admin_dashboard' %}" style="margin-left: 105rem; padding: 0.5rem 1rem; background-color: #28a745; color: white; text-decoration: none; border-radius: 20px;">Return to Dashboard</a>
      </div>



    <table>
      <tr><th>Username</th><th>Email</th><th>Date Joined</th><th colspan="3">Actions</th></tr>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_joined }}</td>
          <td>
              <a href="{% url 'edit_user' user.pk %}"><button style="background-color: blue; color: white;">Edit</button></a> 
              <a href="{% url 'delete_user' user.pk %}" onclick="return confirm('Are you sure you want to delete this user?')"><button style="background-color: red; color: white;">Delete</button></a> 
              <a href="{% url 'toggle_user_active' user.pk %}">
                {% if user.is_active %}<button style="background-color: red; color: white;">Deactivate</button>{% else %}<button style="background-color: green; color: white;">Activate</button>{% endif %}
              </a>
          </td>
        </tr>
      {% endfor %}
    </table>

    </main>
</body>
</html>

